<!-- NAVEGADOR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand pl-5" href="#">Ilerna</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categorias
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contacto</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 pr-5">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
      <button class="btn btn-primary my-2 my-sm-0" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg></button>
    </form>
  </div>
</nav>

<!-- HEADER AZUL -->
<div class="bg">
  <div class="header">
<br>
  <h1>Clase de DAW2</h1>
  <h3>Alumnos y profesores todos contentos</h3>
</div>
</div>
<br><br>
<div class="container">

  <!-- ORGANIZAMOS POR FILAS Y COLUMNAS -->
  <div class="row">
    <div class="col-9">
      <!-- LOS ARTICULOS -->
    <div class="card" >
      <div class="card-body" id=bodyArticulo>
        <img id=imagen src="https://theme.zdassets.com/theme_assets/2166863/aaeb432baaf6d4cc0802708cbf3e8447b5b4bea3.png"  alt="">
        <h2 class="card-title">Special title treatment</h2>

        <p class="card-text" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel natus sequi culpa voluptatibus consectetur nihil sed tempora magni odio nobis quis quam, molestiae rem nostrum provident alias saepe ut! Officia, eum. Quod aut ex praesentium eligendi quas nam eveniet aspernatur quidem vitae harum illo alias, unde id quibusdam magnam aliquam eos officia ab placeat commodi. Dolores id explicabo eos quam in aspernatur error aut laborum earum quia aliquam cumque quod, alias corrupti quisquam natus voluptatem possimus saepe, deleniti ipsa iure veritatis. Minima similique dignissimos, accusamus at perferendis pariatur non sapiente praesentium corrupti! Placeat ipsum corporis unde consequuntur fuga odio.</p>

            <a href="#" class="btn btn-primary" >Leer mas </a>

            <a href="#" class="btn btn-success" id=segundoBoton>Comentarios</a>



      </div>
    </div>
    <div class="card" >
      <div class="card-body" id=bodyArticulo>
        <img id=imagen src="https://theme.zdassets.com/theme_assets/2166863/aaeb432baaf6d4cc0802708cbf3e8447b5b4bea3.png"  alt="">
        <h2 class="card-title">Special title treatment</h2>

        <p class="card-text" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel natus sequi culpa voluptatibus consectetur nihil sed tempora magni odio nobis quis quam, molestiae rem nostrum provident alias saepe ut! Officia, eum. Quod aut ex praesentium eligendi quas nam eveniet aspernatur quidem vitae harum illo alias, unde id quibusdam magnam aliquam eos officia ab placeat commodi. Dolores id explicabo eos quam in aspernatur error aut laborum earum quia aliquam cumque quod, alias corrupti quisquam natus voluptatem possimus saepe, deleniti ipsa iure veritatis. Minima similique dignissimos, accusamus at perferendis pariatur non sapiente praesentium corrupti! Placeat ipsum corporis unde consequuntur fuga odio.</p>

            <a href="#" class="btn btn-primary" >Leer mas </a>

            <a href="#" class="btn btn-success" id=segundoBoton>Comentarios</a>



      </div>
    </div>
    <div class="card" >
      <div class="card-body" id=bodyArticulo>
        <img id=imagen src="https://theme.zdassets.com/theme_assets/2166863/aaeb432baaf6d4cc0802708cbf3e8447b5b4bea3.png"  alt="">
        <h2 class="card-title">Special title treatment</h2>

        <p class="card-text" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel natus sequi culpa voluptatibus consectetur nihil sed tempora magni odio nobis quis quam, molestiae rem nostrum provident alias saepe ut! Officia, eum. Quod aut ex praesentium eligendi quas nam eveniet aspernatur quidem vitae harum illo alias, unde id quibusdam magnam aliquam eos officia ab placeat commodi. Dolores id explicabo eos quam in aspernatur error aut laborum earum quia aliquam cumque quod, alias corrupti quisquam natus voluptatem possimus saepe, deleniti ipsa iure veritatis. Minima similique dignissimos, accusamus at perferendis pariatur non sapiente praesentium corrupti! Placeat ipsum corporis unde consequuntur fuga odio.</p>

            <a href="#" class="btn btn-primary" >Leer mas </a>

            <a href="#" class="btn btn-success" id=segundoBoton>Comentarios</a>



      </div>
    </div>
  </div>
  <!-- LA PARTE DEL ASIDE -->
    <div class="col-3 d-none d-sm-none d-md-block">
      <button type="button" class="btn btn-primary btn-lg btn-block">Diseño web</button>
      <button type="button" class="btn btn-default btn-lg btn-block">CSS</button>
      <button type="button" class="btn btn-default btn-lg btn-block">Cursos</button>
      <button type="button" class="btn btn-default btn-lg btn-block">Desarrollo Web</button>
      <button type="button" class="btn btn-default btn-lg btn-block">JQuery</button>
<br>
     <b>Articulos Recientes</b> <br>

     <article id="article">
      <b> Primer articulo</b> <br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident facilis distinctio rerum,
     </article>
     <article id="article">
      <b> Segundo articulo</b> <br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident facilis distinctio rerum,
     </article>
     <article id="article">
      <b> Tercer articulo</b> <br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident facilis distinctio rerum,
     </article>
    </div>
    <br>
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item ">
          <a class="page-link" href="#" tabindex="-1"><<</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item">
          <a class="page-link" href="#">>></a>
        </li>
      </ul>
    </nav>
  </div>


</div>
<!-- FOOTER -->
<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="row">
    <div class="col">
      Alex Rodriguez y Sergi Bertran - Clase DAW2
    </div>
    <div id="footer" class="col">
      <a href="#">Inicio </a> &nbsp;  <a href="#">Cursos</a> &nbsp; <a href="#">Contactos</a>
    </div>
  </div>



  <!-- Copyright -->
</footer>
